.mr-100{
    margin-right: 100px;
}

.ml-2{
    margin-left: 20px;
}
div.mr-100 ul.list-group{
    margin-top: 20%;
    cursor: pointer;
}

div.mr-100 ul.list-group li:hover{
    background-color: rgba(200, 200, 200);
}