<nav class="collapse navbar-collapse">
    <ul class="">
        <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/characters']" routerLinkActive="router-link-active">Personajes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">planetas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Objetos</a>
        </li>
    </ul>
</nav>