<footer class="jumbotron fixed-bottom">
    <div class="text-center text-white">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eveniet odio aliquid, amet adipisci officiis culpa doloremque dicta saepe minima tempora blanditiis molestiae, quisquam, modi tenetur sed accusantium fugiat qui?</p>
                </div>
            </div>
            <div class="text-center mb-2">
                <a href="" class="text-white me-4">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fa-brands fa-google"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
