<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Crear Producto</h2>
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()" *ngIf="productoEditar">
          <div class="form-group">
            <label for="nombreProducto">Nombre del producto</label>
            <input type="text" class="form-control" id="nombreProducto" formControlName="nombreProducto" [(ngModel)]="productoEditar.nombreProducto">
          </div>
          <div class="form-group">
            <label for="precioProducto">Precio</label>
            <input type="number" class="form-control" id="precioProducto" formControlName="precioProducto" [(ngModel)]="productoEditar.precioProducto">
          </div>
          <div class="form-group">
            <label for="ivaProducto">Iva</label>
            <input type="number"a class="form-control" id="iva" formControlName="ivaProducto" rows="3" [(ngModel)]="productoEditar.ivaProducto">
          </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-secondary">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
  
