/* Estilo para filas pares (fondo blanco) */
.mat-row.mat-row:nth-child(even) {
    background-color: #fff;
  }
  
  /* Estilo para filas impares (fondo gris claro) */
  .mat-row.mat-row:nth-child(odd) {
    background-color: #f5f5f5;
  }

  .mat-accent-custom {
    color: #e2cd13; /* Amarillo */
    /* color: #000; Texto oscuro para contraste */
  } 

  /* TODO cambiar el backgorund-image por la foto del producto cuando la tenga */
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .center-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .center-container img{
    height: 17rem;
  }
  .example-card {
    position: absolute;
    margin-bottom: 36vh;
    z-index: 1; /* Asegurarse de que la tarjeta aparezca sobre la lista */   
  }
  