<app-nav-bar></app-nav-bar>
<h2 *ngIf="isLoggedIn" class="text-center">Bienvenido: usuario</h2>
<div class="container">
  <table mat-table [dataSource]="productos" class="mat-elevation-z8">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.idProducto}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombreProducto}} </td>
      </ng-container>
      <!-- Descripcion Column -->
      <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcionProducto}} </td>
      </ng-container>
      <!-- Precio Column -->
      <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.precioProducto}} </td>
      </ng-container>
      <!-- Stock Column -->
      <ng-container matColumnDef="stock">
          <th mat-header-cell *matHeaderCellDef (click)="actualizarStock()"> Stock </th>
          <td mat-cell *matCellDef="let element"> {{element.stockProducto}} </td>
      </ng-container>
      <!-- Tipo Column -->
      <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let element"> {{element.tipoProducto}} </td>
      </ng-container>    
      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
          <td mat-cell *matCellDef="let element" class="text-center">
            <button mat-icon-button (click)="addProducto(element.idProducto)" *ngIf="btnCarrito">
              <mat-icon class="btn-cart">add_shopping_cart</mat-icon>
            </button>
            <button mat-icon-button (click)="verProducto(element.idProducto)">
              <mat-icon class="mat-primary">visibility</mat-icon>
            </button>
            <button mat-icon-button (click)="editarProducto(element.idProducto)">
              <mat-icon class="mat-accent-custom">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="eliminarProducto(element.idProducto)">
              <mat-icon class="mat-warn">delete</mat-icon>
            </button>
          </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row"></tr>
  </table>
</div>
<div class="center-container">
  <mat-card class="example-card" *ngIf="productoSeleccionado">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>{{productoSeleccionado.nombreProducto}}</mat-card-title>
      <mat-card-subtitle>{{productoSeleccionado.tipoProducto}}</mat-card-subtitle>
    </mat-card-header>
    <!-- TODO agregar imagen producto cuando la tenga -->
    <img mat-card-image src="{{productoSeleccionado.imagen.imagenUrl}}" alt="{{productoSeleccionado.imagen.nombreImagen}}">
    <mat-card-content>
      <p> Descripcion: {{productoSeleccionado.descripcionProducto}}</p>
      <p> Stock: {{productoSeleccionado.stockProducto}}</p>
      <p> Precio: {{productoSeleccionado.precioProducto}}</p>
    </mat-card-content>
    <mat-card-actions class="text-center mx-auto">
      <!-- <button class="text-center mat-primary" mat-icon-button (click)="cerrarDetalles()">Volver</button> -->
      <button mat-button class="mat-primary" color="primary" (click)="cerrarDetalles()">Volver</button>
    </mat-card-actions>
  </mat-card>
</div>
